@import url('https://fonts.googleapis.com/css?family=Sarabun|Secular+One');

body {
    background-color: #fdfff4;
    font-family: Sarabun, Arial, sans-serif;
    width: 100%;
    margin: 0 auto;
}

/* HEADER */

header {
    background-color: #71816D;
}

.heading {
    display: flex;
}

header .column {
    display: flex;
    flex-direction: column;
}

#logoimage {
    width: 80%;
}

header h1, header h2 {
    display: flex;
}

header h2 {
    color: #394053;
    margin-top: 0;
}

header h1 {
    font-family: "Secular One", Arial, sans-serif;
    color: #C9B79C;
    text-shadow: 3px 3px 5px #777;
    font-size: 3rem;
    margin-bottom: 0;
}

/* NAVIGATION */

nav {
    background-color: #C9B79C;
    font-size: 1rem;
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.mainmenu {
    list-style: none;
    text-align: center;
    margin: 0;
    padding: 0;
}

.mainmenu li:first-child {
    display: block;
}

.mainmenu li {
    display: none;
}

.mainmenu a {
    display: block; 
    color: #ffffff;
    padding: .75rem;
    text-align: center;
    text-decoration: none;
    font-size: 1.5em;
}

.mainmenu .currentpage {
    color: #394053;
}

.mainmenu a:hover {
    color: #71816D;
    background-color: rgb(240, 225, 203);
}

.responsive li { 
    display: block; 
}

/* HOMEPAGE */ 

#townsinfo {
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 20px;
    border: 4px solid #394053;
    margin: 20px;
}

#townsinfo img {
    width: 90%;
}

/* TOWNS MAIN */

section {
    padding: 10px;
}

.firstsection h2, article h2 {
    text-align: center;
    font-size: 3rem;
    text-shadow: 3px 3px 5px #777;
    color: #394053;
    margin-bottom: 1rem;
}

.herodiv {
    margin: auto;
    position: relative;
}

main picture.heroimg img {
    width: 100%;
}

.weathersummary {
    position: absolute;
    top: 5%;
    right: 10%;
	border: 1px solid #000;
    box-shadow: 0 0 30px #fff;
    line-height: 2px;
    font-weight: bold;
    background-color: rgba(124, 115, 124, 0.5);
    padding: 0px;
    padding-right: 5px;
}

.weathersummary h3 {
    text-decoration: underline;
    font-size: 0.5rem;
    text-align: center;
}

.weathersummary p {
    font-size: 0.5rem;
    text-align: left;
}

.forecast {
    display: none;
}

.forecast h3 {
    font-family: "Secular One", Arial, sans-serif;
    color: rgb(124, 105, 76);
    text-shadow: 3px 3px 5px #777;
    font-size: 3rem;
    margin-top: 0px;
}

article img {
    width: 100%;
    box-shadow: 0 0 30px #fff;
    margin-left: 40px;
    margin-right: 10px;
    margin-left: 1%;
}

article {
    background-color: #F1E0C5;
    border: 2px solid #394053;
    padding: 2%;
    overflow: auto;
    margin-top: 30px;
}

article h2 {
    text-align: left;
    font-size: 1.5rem;
    margin-bottom: 0;
    color: #394053;
}

article h3 {
    margin-top: 0;
    padding-left: 40px;
}

#events h3 {
    font-family: "Secular One", Arial, sans-serif;
    color: rgb(124, 105, 76);
    text-shadow: 3px 3px 5px #777;
    font-size: 2rem;
    text-align: center;
    margin-top: 0px;
}

#events {
    width: 50%;
    display: table;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 20px;
}

#events ul {
    font-size: 1.5rem;
    display: table;
    margin-right: auto;
    margin-left: auto;
}

/* GALLERY */

.gallerywrapper {
    display: grid;
    grid-template-columns: 1fr;
}

figure img {
    width: 100%;
}

.box {
    padding: 2px;
    box-shadow: 0 0 10px #777777;
}

.gallerytitle {
    font-family: "Secular One", Arial, sans-serif;
    font-size: 2rem;
    color: #394053;
    padding-left: 40px;
    text-shadow: 3px 3px 5px #777;
}

/* STORM CENTER */

main h2 {
    font-family: "Secular One", Arial, sans-serif;
    font-size: 2rem;
    color: #394053;
    padding-left: 40px;
    text-shadow: 3px 3px 5px #777;
    margin-bottom: 0;
}

main p {
    padding-left: 40px;
    font-size: 1.25rem;
    margin-top: 0;
}

form {
    padding-left: 40px;
    padding-bottom: 30px;
    background-color: rgb(163, 179, 159);
    width: 80%;
    margin: 0px auto;
    margin-bottom: 2rem;
    border-radius: 2%;
    border: 2px solid #71816D;
}

form label, form .danger {
    display: block;
    padding: 1rem;
    font-size: 1rem;
    font-weight: bold;
}

.boxform {
    width: 50%;
}

.comments {
    overflow: scroll;
    width: 80%;
}
/* THANK YOU PAGE */

.thanks h2 {
    font-family: "Secular One", Arial, sans-serif;
    font-size: 2rem;
    color: #394053;
    padding-left: 40px;
    text-align: center;
}

.thanks p {
    padding-left: 40px;
    font-size: 1rem;
    text-align: center;
}

/* FOOTER */

footer {
    background-color: #394053;
    color: #ffffff;
    text-align: center;
    font-size: 0.75rem;
    padding: 20px;
    padding-bottom: 30px;
    line-height: 5px;    
}
.contactinfo {
    background-color: #71816D;
    line-height: 2px;
    overflow: auto;
}

.contactinfo h2 {
    color: #000000;
    font-weight: bold;
    font-size: 1.25rem;
    margin-bottom: 1rem;
}

.contactinfo h2, .contactinfo p, .socialmedia {
    padding-left: 80px;
}

.contact {
    padding-top: 10px;
}

#map {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
}

.socialmedia img {
    width: 30px;
    padding-bottom: 5px;
}
