@import url('https://fonts.googleapis.com/css?family=Sarabun|Secular+One');

body {
    background-color: #fdfff4;
    font-family: Sarabun, Arial, sans-serif;
    width: 100%;
    margin: 0 auto;

}

/* HEADER */

header {
    background-color: #71816D;
    text-align: center;
}

header img, .headings {
    display: inline-block;
    padding: 10px;
}

.headings .motto {
    color: #394053;
    font-size: 1rem;
}

#logoimage {
    width: 7%;
    float: left;
}

.headings h1 {
    font-size: 3em;
    font-family: "Secular One", Arial, sans-serif;
    color: #C9B79C;
    margin-bottom: 0;
    text-shadow: 3px 3px 5px #777;
}

.headings {
    line-height: 0.75rem;
}

/* NAVIGATION */

nav {
    background-color: #C9B79C;
    font-size: 1rem;
    margin: 0 auto;
    padding: 0;
}

.mainmenu {
    list-style: none;
    text-align: center;
    margin: 0;
    padding: 0;
}

.mainmenu li:first-child {
    display: block;
}

.mainmenu li {
    display: none;
}

.mainmenu a {
    display: block; 
    color: #ffffff;
    padding: .75rem;
    text-align: center;
    text-decoration: none;
    font-size: 1.5em;
}

.currentpage {
    color: #394053;
}

.mainmenu a:hover {
    color: #71816D;
    background-color: rgb(240, 225, 203);
}

.responsive li { 
    display: block; 
}

/* MAIN */

section {
    padding: 10px;
}

.firstsection h2, article h2 {
    text-align: center;
    font-size: 2rem;
    text-shadow: 3px 3px 5px #777;
    color: #333333;
}

.herodiv {
    margin: auto;
    position: relative;
}

main picture.heroimg img {
    width: 100%;
}

.weathersummary {
    position: absolute;
    top: 45px;
    right: 110px;
	border: 1px solid #000;
	padding: 1.5rem;
    box-shadow: 0 0 30px #fff;
    line-height: 2px;
    font-weight: bold;
}

.weathersummary h3 {
    text-decoration: underline;
    padding-bottom: 10px;
}

.forecast {
    display: none;
}

article img {
    width: 100%;
    box-shadow: 0 0 30px #fff;
}

article {
    background-color: #F1E0C5;
    border: 2px solid #394053;
    padding: 20px;
    overflow: auto;
}

article h2 {
    text-align: left;
    font-size: 1.5rem;
    margin-bottom: 0;
    color: #394053;
}

article h3 {
    margin-top: 0;
}

.contactinfo {
    background-color: #71816D;
    line-height: 2px;
    overflow: auto;
}

.contactinfo h2 {
    color: #000000;
    font-weight: bold;
    font-size: 1.25rem;

}

.contactinfo h2, .contactinfo p, .socialmedia {
    padding-left: 80px;
}

.contact {
    padding-top: 10px;
}

#map {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    border-style: inset;
}
.socialmedia img {
    width: 30px;
    padding-bottom: 5px;
    
}
/* FOOTER */

footer {
    background-color: #394053;
    color: #ffffff;
    text-align: center;
    font-size: 0.5rem;
    padding: 5px;
    line-height: 2px;
    
}

